<h3>Auth Operator</h3>

<form action="/operator_login" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>
